<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/axios.js"></script>
    <script src="./lib/vue.js"></script>
    <script src="./lib/elementui.js"></script>
    <link rel="stylesheet" href="./lib/elementui.css">
</head>

<body>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>


    <div id="registPage">
        <div class="regist-pad">
            <h2>上传图书</h2>
            <el-input v-model="userName" placeholder="请输入图书名"></el-input>
            <el-input v-model="userNo" placeholder="请输入图书种类"></el-input>
            <el-input v-model="password" placeholder="简要描述书籍，并给出联系方式" type="textarea" rows="9"></el-input>
            <el-button type="primary" @click="regist" style="text-align:center">点击上传上传图书<i
                    class="el-icon-upload el-icon--right"></i></el-button>
            <el-button @click="post">继续上传</el-button>

        </div>


    </div>
    <script>
        var vm = new Vue({
            el: "#registPage",
            data: {
                userId: 12,
                userName: "",//图书名
                userNo: "",//图书种类
                password: "",//书籍描述

            },
            mounted() {
                userId = sessionStorage.getItem("userId")
            },
            methods: {
                regist: function () {
                    axios.post(
                        "http://localhost:5265/Book/Insert",
                        {
                            BookName: this.userName,
                            UserId: this.userId,
                            Category: this.userNo,
                            Comment: this.password
                        }).then(function (res) {
                            console.log(res);
                            history.go(-1);
                        });
                    this.$alert('这是一段内容');
                    this.$notify({
                        title: '成功',
                        message: '上传成功',
                        type: 'success'

                    });

                },
                post: function () {
                    axios.post(
                        "http://localhost:5265/Book/Insert",
                        {
                            BookName: this.userName,
                            //description: this.password,//描述
                            //type: this.userNo,    //种类
                            UserId: this.userId,
                        })
                    this.$message('上传成功,可以继续上传');
                    this.userNo = '';
                    this.userName = '';
                    this.password = '';

                }
            },
        })
    </script>
    <style>
        .regist-pad {
            height: auto;
            width: 600px;
            padding: 20px;
            margin: auto;
            margin-top: 10%;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-shadow: 0 0 10px #ccc;
        }

        h2 {
            text-align: center;
            margin-top: 0;
        }

        .el-input {
            margin-bottom: 20px;
        }

        .el-button {
            width: 100%;
            margin: 10px;
        }
    </style>
</body>

</html>